{% extends 'base.html' %}
{% load blog_tags %}
{% block title %}
    {{ title }}
{% endblock title %}


{% block main %}
    <nav class="nav d-flex justify-content-between">
        {% get_genres as genres %}
        {% for genre in genres %}
            <a class="text-orange {% if request.path == genre.get_absolute_url %} orange {% else %} text-light {% endif %}"
               href="{% url 'genre' genre.pk %}" style="text-decoration: none;">{{ genre.title }}</a>
        {% endfor %}
    </nav>

    <div class="d-flex justify-content-between mt-5">
        <div class="col-3">
            <h4 class="text-light">Самое популярное</h4>
            <div class="bg-dark text-light mb-3" style="max-width: 540px;">
                <div>
                    {% for comic in top_comics %}
                        <a href="{{ comic.get_absolute_url }}" class="row g-0 text-light">
                        <div class="col-md-4 mb-3">
                            <img src="{{ comic.get_poster }}" class="img-fluid rounded-start" alt="..."
                                 style="width: 150px; height: 165px">
                        </div>
                        <div class="row col-md-8">
                            <div class="card-body d-flex align-items-center">
                                <h5 class="card-title text-orange">{{ comic.title }}</h5>
                            </div>
                        </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-9">
            <h4 class="text-light mb-5">Популярные новинки</h4>


                    <div class="row row-cols-1 row-cols-md-6 g-4" style="gap: 70px">
                {% for comic in comics %}
                        <a href="{% url 'comic' comic.pk %}" style="text-decoration: none;">
                            <div class="col text-orange">
                                <div class="bg-dark">
                                    <img src="{{ comic.get_poster }}" class="card-img-top"
                                         style="width: 180px; height: 250px" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title pt-4 text-light text-orange">{{ comic.title }}</h5>
                                        <p class="card-text text-secondary" style="display: inline-block">
                                            {% for genre in comic.genres.all %}
                                                {{ genre }},
                                            {% endfor %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                                       {% endfor %}
                        </a>

                    </div>

            </div>
        </div>



{% endblock main %}